<form class=formulaire-emprunteur [formGroup]="borrowerForm" (ngSubmit)="saveBorrower()" novalidate>
    <div formArrayName="borrowers" *ngFor="let borrowers of borrowerList.controls; let i=index">
        <div [formGroupName]="i">
            <div class="row">
                <h5>Emprunteur {{i+1}}</h5>
                <button class="btn btn-default addBorrower" type="button" (click)="addNewBorrower()">
                    <i class="far fa-plus-square fa-lg align-top"></i>
                </button>

                <button class="btn btn-default removeBorrower" *ngIf="i" (click)="removeBorrower(i)">
                    <i class="far fa-minus-square fa-lg align-top"></i>
                </button>
            </div>
            <div class="form-group row">
                <label class="control-label col-md-2">Date de naissance</label>
                <input formControlName="dateOfBirth" class="col-md-2" type="date" min="1900-01-01"
                    max="2018-12-31">
            </div>

            <div class="form-group row">
                <label class="control-label col-md-2">Revenu net</label>
                <input formControlName="netIncome" class="form-control col-md-9" type="number" step="100" min="0"
                    placeholder="0">
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-primary col-md-1 previous" (click)="comeBack()"><<</button>
    <button type="submit" class="btn btn-primary col-md-1 offset-md-10 next" [disabled]="!borrowerForm.valid">>></button>
</form>