<form class=formulaire-emprunteur [formGroup]="borrowerForm" (ngSubmit)="saveBorrower()" novalidate>
    <div class="row"></div>
    <label for="dateOfBirth">Date de naissance</label>
    <div>
        <input class="col-md-3" formControlName="dateOfBirth" type="date" id="dateOfBirth" min="1900-01-01"
            max="2018-12-31">
    </div>


    <div class="form-group">
        <label class="control-label">Revenu net</label>
        <input formControlName="netIncome" class="form-control" type="number" step="100" min="0" placeholder="0">
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!borrowerForm.valid">Suivant</button>

</form>