<p-dialog header="Avertissement" [(visible)]="displayError" [modal]="true" [responsive]="true"
    [style]="{width: '350px', minWidth: '200px'}" [minY]="70">
    <p>Le service est actuellement indisponible. Veuillez vous reconnecter ultérieurement.</p>
    <p>Erreur : {{errorMsg}}</p>
</p-dialog>

<div class="row" class="tableauProjet">
    <h3 class="text-center">Liste des projets de crédit immobilier</h3>
    <div class="row">
        <p-table #dt [columns]="cols" [value]="projects"  [paginator]="true" [rows]="10">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th class="text-center" *ngFor="let col of columns">
                        {{col.header}}
                    </th>
                    <th style="width:5em"></th>
                    <th style="width:5em"></th>
                </tr>
                <tr>
                    <th *ngFor="let col of columns" [ngSwitch]="col.field">
                        <input *ngSwitchCase="'referenceId'" pInputText type="text"
                            (input)="dt.filter($event.target.value, col.field, 'contains')">
                            <p-dropdown *ngSwitchCase="'projectType'" [options]="projectTypes" [style]="{'width':'100%'}"
                                (onChange)="dt.filter($event.value, col.field, 'equals')"></p-dropdown>
                    </th>
                    <th style="width:5em"></th>
                    <th style="width:5em"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                    <td *ngFor="let col of columns">
                        {{rowData[col.field]}}
                    </td>
                    <td>
                        <button class="btn" (click)="viewSimulation(rowData)">
                            <i class="fa fa-lg fa-search-plus icon-border"></i>
                        </button>
                    </td>
                    <td>
                        <button class="btn" (click)="changeSimulation(rowData)">
                            <i class="fa fa-lg fa-edit"></i>
                        </button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>