<p-dialog header="Avertissement" [(visible)]="displayError" [modal]="true" [responsive]="true"
    [style]="{width: '350px', minWidth: '200px'}" [minY]="70">
    <p>Le service est actuellement indisponible. Veuillez vous reconnecter ultérieurement.</p>
    <p>Erreur : {{errorMsg}}</p>
</p-dialog>

<form [formGroup]="simulationForm" (ngSubmit)="saveSimulation()" novalidate>

    <div class="row">
        <h6 class="col-md-12">Options de calcul</h6>
    </div>


    <div class="row">
        <div class="form-group col-md-2 nature-simulation">
            <label for="construction">Echéance cible ?</label>
            <input type="radio" id="paymentTarget" formControlName="simulationTarget" value="PAYMENT_TARGET" checked>
        </div>
        <div class="form-group col-md-2 nature-simulation">
            <label for="achat">Capital cible ?</label>
            <input type="radio" id="capitalTarget" formControlName="simulationTarget" value="CAPITAL_TARGET">
        </div>
    </div>

    <div class="form-group" *ngIf="simulationForm.value.simulationTarget === 'PAYMENT_TARGET'">
        <label class="control-label">Capital souhaité (€)</label>
        <input formControlName="loanAmount" class="form-control" type="number" step="100" min="0" placeholder="0"
            checked>
    </div>

    <div class="form-group" *ngIf="simulationForm.value.simulationTarget === 'CAPITAL_TARGET'">
        <label class="control-label">Echéance souhaitée (€)</label>
        <input formControlName="loanPayment" class="form-control" type="number" step="100" min="0" placeholder="0">
    </div>

    <!-- <span *ngIf="f.loanAmount == null && f.loanPayment == null">
        Veuillez renseigner votre souhait de capital ou d'échéance.
    </span> -->

    <!-- <span *ngIf="f.loanAmount.value !== 0 && f.loanPayment.value !== 0">
        Le capital et l'échéance ne peuvent pas être simultanément souhaités !!! :-)
    </span> -->

    <div class="row">
        <h6 class="col-md-12">Périodicité de remboursement</h6>
    </div>
    <div class="row">
        <div class="form-group col-md-2 periodicite">
            <label for="mensuel">mensuelle</label>
            <input type="radio" id="mensuel" formControlName="periodicity" value="MONTHLY" checked>
        </div>
        <div class="form-group col-md-2 periodicite">
            <label for="trimestriel">trimestrielle</label>
            <input type="radio" id="trimestriel" formControlName="periodicity" value="QUARTERLY">
        </div>
        <div class="form-group col-md-2 periodicite">
            <label for="biannuel">semestrielle</label>
            <input type="radio" id="biannuel" formControlName="periodicity" value="BIANNUALLY">
        </div>
        <div class="form-group col-md-2 periodicite">
            <label for="biannuel">annuelle</label>
            <input type="radio" id="annuel" formControlName="periodicity" value="ANNUALLY">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label">Apport personnel (€)</label>
        <input formControlName="personalDeposit" class="form-control"
            type="number" step="100" min="0" placeholder="0"/>
        <span *ngIf="f.personalDeposit.invalid && f.personalDeposit.errors.required">
            L'apport personnel est requis.
        </span>
    </div>

    <div class="form-group">
        <label class="control-label">Taux d'intérêt nominal annuel (%)</label>
        <input formControlName="loanInterestRate" class="form-control" type="number" step="0.10" min="0.00"
            placeholder="0" max="10.00">
        <span *ngIf="f.loanInterestRate.invalid && f.loanInterestRate.errors.required">
            Le taux d'intérêt nominal est requis.
        </span>
        <div *ngIf="f.loanInterestRate.errors?.min || f.loanInterestRate.errors?.max">
            Le taux d'intérêt nominal doit être compris entre 0% et 5%.
        </div>
    </div>

    <!-- Taux d'assurance sur capital emprunté -->
    <div class="form-group">
        <label class="control-label">Taux d'assurance sur capital (%)</label>
        <input formControlName="loanInsuranceRate" class="form-control" type="number" step="0.01" min="0" placeholder="0">
        <span *ngIf="f.loanInsuranceRate.invalid && f.loanInsuranceRate.errors.required">
            Le taux d'assurance est requis.
        </span>
        <div *ngIf="f.loanInsuranceRate.errors?.min || f.loanInsuranceRate.errors?.max">
            Le taux d'assurance doit être compris entre 0% et 5%.
        </div>
    </div>

    <!-- Taux de garantie (Crédit Logement) sur capital emprunté -->
    <div class="form-group">
        <label class="control-label">Taux de garantie sur capital (%)</label>
        <input formControlName="loanGuarantyRate" class="form-control" type="number" step="0.01" min="0" placeholder="0">
        <span *ngIf="f.loanGuarantyRate.invalid && f.loanGuarantyRate.errors.required">
            Le taux de garantie est requis.
        </span>
        <div *ngIf="f.loanGuarantyRate.errors?.min || f.loanGuarantyRate.errors?.max">
            Le taux de garantie doit être compris entre 0% et 5%.
        </div>
    </div>

    <!-- Frais de dossier -->
    <div class="form-group">
        <label class="control-label">Frais de dossier (€)</label>
        <input formControlName="applicationFee" class="form-control" type="number" step="100" min="0" placeholder="0">
        <span *ngIf="f.applicationFee.invalid && f.applicationFee.errors.required">
            Les frais de dossier sont requis.
        </span>
        <div *ngIf="f.applicationFee.errors?.min || f.applicationFee.errors?.max">
            Les frais de dossier doivent être compris entre 0 € et 10 000 €.
        </div>
    </div>

    <div class="form-group">
        <label class="control-label">Durée de remboursement (années)</label>
        <input formControlName="loanDuration" class="form-control" type="number" step="1" min="0" placeholder="0">
        <span *ngIf="f.loanDuration.invalid && f.loanDuration.errors.required">
            La durée est requise.
        </span>
        <div *ngIf="f.loanDuration.errors?.min || f.loanDuration.errors?.max">
            La durée doit être comprise entre 1 an et 30 ans.
        </div>
    </div>


    <button type="button" class="btn btn-primary col-md-1 previous" (click)="comeBack()"><<</button>
    <button type="submit" class="btn btn-primary col-md-1 offset-md-10 next" [disabled]="!simulationForm.valid">>></button>
</form>