<div>
    <nav class="navbar fixed-top navbar-light bg-light">
        <a class="navbar-brand" routerLink="simulation">
            <img src="./assets/house-logo.png" width="100">
        </a>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Projet" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Filtrer</button>
        </form>
    </nav>
</div>
<div class="container">
    <app-step-menu></app-step-menu>
</div>