<form [formGroup]="projectForm" (ngSubmit)="saveProject()" novalidate>


    <h5>Veuillez choisir le type de projet :</h5>
    <div class="form-group type-projet">
        <input type="radio" id="achat" formControlName="projectType" value="Achat">
        <label for="achat">Achat</label>
    </div>
    <div class="form-group type-projet">
        <input type="radio" id="construction" formControlName="projectType" value="Construction">
        <label for="construction">Construction</label>
    </div>


    <div class="form-group">
        <label class="control-label"></label>
        <input formControlName="referenceId" type="text" class="form-control" placeholder="Veuillez saisir la référence de votre projet.">
    </div>


    <div class="form-group">
        <label class="control-label">Charges du foyer</label>
        <input formControlName="householdCharges" class="form-control" type="number" step="100" min="0" placeholder="0">
    </div>

    <div class="form-group">
        <label class="control-label">Montant de remboursement maximum</label>
        <input formControlName="maxLoanPayment" class="form-control" type="number" step="100" min="0" placeholder="0">
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!projectForm.valid">Enregistrer</button>

</form>