<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="chemindefer">
                <p-steps [model]="items" styleClass="steps-custom" [(activeIndex)]="activeIndex"></p-steps>
            </div>
        </div>
    </div>
</div>

<app-project-form *ngIf="activeIndex === 0" [project]="currentProject" [isSavedProject]="isSavedProject"
    (submitNext)="incrementProjectStep($event)"></app-project-form>

<app-borrower-form [project]="currentProject" [isSavedProject]="isSavedProject" *ngIf="activeIndex === 1"
    (submitNext)="incrementProjectStep($event)" (submitPrevious)="decrementProjectStep($event)"></app-borrower-form>

<app-simulation-form [project]="currentProject" *ngIf="activeIndex === 2" (submitNext)="incrementSimulationStep($event)"
    (submitPrevious)="decrementSimulationStep($event)">
</app-simulation-form>
<app-simulation-summary [project]="currentProject" [simulation]="currentSimulation" *ngIf="activeIndex === 3"></app-simulation-summary>
