<p-dialog header="headerMsg" [(visible)]="displayError" [modal]="true" [responsive]="true"
    [style]="{width: '350px', minWidth: '200px'}" [minY]="70">
    <p>Le service est actuellement indisponible. Veuillez vous reconnecter ultérieurement.</p>
    <p>Erreur : {{errorMsg}}</p>
</p-dialog>

<div #alert class="alert alert-info alert-dismissible fade show" role="alert" *ngIf="displayAlert===true">
    <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
        <span aria-hidden="true">&times;</span>
    </button>
    <strong>{{headerMsg}}</strong> {{errorMsg}}
</div>

<div *ngIf="isDataReceived===true" id="simulationResultContainer" class="sh-resultat center sh-wrapper with-details">

    <div class="K-simulation hidden">

        <p class="sh-resutat-title">
            Sur une durée de {{simulation.loanDuration}} ans, à un taux nominal de {{simulation.loanInterestRate}} %,
            votre échéance {{simulation.periodicity.toString().toLowerCase()}} s'élèverait à
            <strong>{{simulation.loanPayment.toFixed(0)}}</strong> €.</p><br>
            <p class="sh-resutat-title">
            Vous rembourseriez une échéance globale (assurance comprise) de <strong>{{simulation.globalLoanPayment.toFixed(0)}}</strong> €.</p>

        <p id="mensualiteMax" class="libelle">
            Votre échéance globale maximale conseillée est de <strong>{{project.maxLoanPayment.toFixed(0)}}</strong> €.
        </p>

        <div *ngIf="simulation.globalLoanPayment <= project.maxLoanPayment">
            <a class="simulationOK">
            Votre projet de crédit immobilier s'annonce bien ! <img  src="./assets/sun.png" width="100">
            </a>
        </div>

        <div *ngIf="simulation.globalLoanPayment > project.maxLoanPayment">
            <a class="simulationKO">
            Vous dépasseriez l'échéance globale max. conseillée (<strong>{{project.maxLoanPayment.toFixed(0)}}</strong> €) !
                <img  src="./assets/storm.png" width="100">
            </a>
        </div>

        <ul class="list-sh-detail">
            <li class="new-section show-first">
                <span>Apport personnel : </span>
                <span class="set-loanAmount"><strong>{{simulation.personalDeposit.toFixed(0)}}</strong> €</span>
            </li>

            <li class="new-section show-first">
                <span>Montant à emprunter : </span>
                <span class="set-loanAmount"><strong>{{simulation.loanAmount.toFixed(0)}}</strong> €</span>
            </li>

            <li>
                <span>Coût du crédit : </span>
                <span class="set-totalLoanCostWithInsurance"><strong>{{simulation.loanCost.toFixed(0)}}</strong>
                    €</span>
            </li>

            <li>
                <span>>>> Intérêts :</span>
                <span class="set-interestCost">{{simulation.interestCost.toFixed(0)}} €</span>
            </li>

            <li>
                <span>>>> Assurance :</span>
                <span class="set-insuranceCost">{{simulation.insuranceCost.toFixed(0)}} €</span>
            </li>

            <li>
                <span>>>> Frais de dossier : </span>
                <span class="set-initialApplicationFees">{{simulation.applicationFee.toFixed(0)}} €</span>
            </li>

            <li>
                <span>>>> Garantie Crédit Logement :</span>
                <span class="set-initialGuaranteeFees">{{simulation.loanGuaranty.toFixed(0)}} €</span>
            </li>

            <li title="Taux Annuel Effectif Global (TAEG)">
                <span>Taux Annuel Effectif Global (TAEG) :</span>
                <span
                    class="set-annualPercentageRateOfCharge"><strong>{{simulation.effectiveInterestRate.toFixed(2)}}</strong>
                    %</span>
            </li>

            <li>
                <span>>>> Taux Annuel d’Intérêt Nominal :</span>
                <span class="set-initialNominalRate">{{simulation.loanInterestRate.toFixed(2)}} %</span>
            </li>

            <li>
                <span>>>> Taux Annuel Effectif d’Assurance (TAEA) :</span>
                <span class="set-insuranceAnnualPercentageRate">{{simulation.insuranceImpactOnInterestRate.toFixed(2)}}
                    %</span>
            </li>

            <li>
                <span>>>> Taux Annuel Effectif des Frais (TAEF) :</span>
                <span class="set-feesAnnualPercentageRate">{{simulation.feesImpactOnInterestRate.toFixed(2)}} %</span>
            </li>

        </ul>
    </div>
</div>