<div id="simulationResultContainer" class="sh-resultat center sh-wrapper with-details">

    <div class="K-simulation hidden">

        <p class="sh-resutat-title">
            Sur une durée de {{simulation.loanDuration}} ans, à un taux nominal de {{simulation.loanInterestRate}} %,
            votre échéance s'élèverait à
            <strong>{{simulation.loanPayment.toFixed(0)}}</strong> €.</p><br>
            <p class="sh-resutat-title">
            Vous rembourseriez une échéance globale (assurance comprise) de <strong>{{simulation.globalLoanPayment.toFixed(0)}}</strong> €.</p>

        <p id="mensualiteMax" class="libelle">
            Votre échéance globale maximale conseillée est de <strong>{{project.maxLoanPayment.toFixed(0)}}</strong> €.
        </p>

        <div class="sh-simu-meteo">
            <div class="simu-OK banner">
                <i class="icon icon-meteo-1"></i>
                <p></p>
                <div class="help-text-container">
                    <p class="help-text">
                        <span class="circle-container">
                            <span class="circle circle-small" style="vertical-align: inherit;">Météo OK à simuler</span>
                        </span>
                    </p>
                    <div class="help-text-popup hidden">
                        <div class="arrow"></div>
                        <div class="popover-content">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="simu-alert banner">
                <i class="iconc2v c2v-meteo-ko" style="color: #D4056E;font-size: 30px;"></i>
                <p></p>
                <div class="help-text-container">
                    <p class="help-text">
                        <span class="circle-container">
                            <span class="circle circle-small" style="vertical-align: inherit;">Météo KO à simuler</span>
                        </span>
                    </p>
                    <div class="help-text-popup hidden">
                        <div class="arrow"></div>
                        <div class="popover-content">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <ul class="list-sh-detail">
            <li class="new-section show-first">
                <span>Apport personnel : </span>
                <span class="set-loanAmount"><strong>{{simulation.personalDeposit.toFixed(0)}}</strong> €</span>
            </li>

            <li class="new-section show-first">
                <span>Montant à emprunter : </span>
                <span class="set-loanAmount"><strong>{{simulation.loanAmount.toFixed(0)}}</strong> €</span>
            </li>

            <li>
                <span>Coût du crédit : </span>
                <span class="set-totalLoanCostWithInsurance"><strong>{{simulation.loanCost.toFixed(0)}}</strong>
                    €</span>
            </li>

            <li>
                <span>>>> Intérêts :</span>
                <span class="set-interestCost">{{simulation.interestCost.toFixed(0)}} €</span>
            </li>

            <li>
                <span>>>> Assurance :</span>
                <span class="set-insuranceCost">{{simulation.insuranceCost.toFixed(0)}} €</span>
            </li>

            <li>
                <span>>>> Frais de dossier : </span>
                <span class="set-initialApplicationFees">{{simulation.applicationFee.toFixed(0)}} €</span>
            </li>

            <li>
                <span>>>> Garantie Crédit Logement :</span>
                <span class="set-initialGuaranteeFees">{{simulation.loanGuaranty.toFixed(0)}} €</span>
            </li>

            <li title="Taux Annuel Effectif Global (TAEG)">
                <span>Taux Annuel Effectif Global (TAEG) :</span>
                <span
                    class="set-annualPercentageRateOfCharge"><strong>{{simulation.effectiveInterestRate.toFixed(2)}}</strong>
                    %</span>
            </li>

            <li>
                <span>>>> Taux Annuel d’Intérêt Nominal :</span>
                <span class="set-initialNominalRate">{{simulation.loanInterestRate.toFixed(2)}} %</span>
            </li>

            <li>
                <span>>>> Taux Annuel Effectif d’Assurance (TAEA) :</span>
                <span class="set-insuranceAnnualPercentageRate">{{simulation.insuranceImpactOnInterestRate.toFixed(2)}}
                    %</span>
            </li>

            <li>
                <span>>>> Taux Annuel Effectif des Frais (TAEF) :</span>
                <span class="set-feesAnnualPercentageRate">{{simulation.feesImpactOnInterestRate.toFixed(2)}} %</span>
            </li>

        </ul>
    </div>
</div>